<!DOCTYPE html>
<html lang="en" class="default-style">
    <head>
        <title>Novi | Feedback</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <!--link rel="icon" type="image/x-icon"-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="/static/style.css">

        <div id="output"></div>
	<button onclick="recognition.start()">Start</button>
	<button onclick="recognition.stop()">Stop</button>


        <script src="/static/script.js"></script>
    </head>
    <body>
    <button class="btn btn-primary" type="button" onclick="disableButton(this)" name="enable">Speach</button>
    </body>
</html>
